<!doctype html>
<html>
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">

    <title>{% block title %}notified-viewer{% endblock %}</title>
</head>
<body>

<div class="container">
    {% block body %}

        <h1>Empty page</h1>
        <hr>
        <p>notified viewer</p>

    {% endblock %}
</div>


</body>
</html>